<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599302337860-kaatjlomckv5sf36od3vca7125v007tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599302337860-kaatjlomckv5sf36od3vca7125v007tb</string>
	<key>API_KEY</key>
	<string>AIzaSyBV9k6s1m3SuCTCReYdQR4y9cQIJd6C1T8</string>
	<key>GCM_SENDER_ID</key>
	<string>599302337860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newMatch</string>
	<key>PROJECT_ID</key>
	<string>ubupuroject</string>
	<key>STORAGE_BUCKET</key>
	<string>ubupuroject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599302337860:ios:67bc912e3b89f9fc8d9311</string>
	<key>DATABASE_URL</key>
	<string>https://ubupuroject-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>